<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置全局属性 -->
    <settings>
        <setting name="safeRowBoundsEnabled" value="true"/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <!--别名-->
    <!--    <typeAliases></typeAliases>-->

    <!--    插件-->
    <!--        <plugins></plugins>-->

    <!--    类转换 -->
    <!--    <typeHandlers></typeHandlers>-->
</configuration>